article {
    background: rgb(255, 241, 241);
}
#mainArticle { 
    grid-area: article; 
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.promos {
    color:  rgb(201, 63, 127);
    text-align: center;
    padding-bottom: 70px;
}

.products_wrapper {
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 80px;
}
.product_link {
    display: inline-block;
    text-decoration: none;
    transition: opacity 0.2s ease-in;
}
.product_link:hover {
    opacity: 0.8;
}
.product {
    text-align: center;
    max-width: 300px;
}
.product_img {
    display: block;
    max-width: 300px;
}
.product_title {
    margin: 0;
    margin-bottom: 10px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 27px;
    text-align: center;
    color: black;
}
.product_price{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: rgb(215, 0, 0);
}

.recommend > p {
    padding-top: 40px;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    line-height: 35px;
    text-align: center
}

/* button to go */
.button_go {
    display: inline-block;
    padding: 9px 40px 12px;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(215, 0, 0);
    border-radius: 4px;

    font-family: 'Playfair Display', serif;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.button_go:hover {
    background-color: rgb(215, 0, 0);
    color: white;
}
.product_button > a {
    text-decoration: none;
    color: rgb(175, 0, 0);
}

/* рекламный баннер вверху страницы*/
.banner {
    width: 70vw;
    height: 450px;
    display: flex;
	justify-content: center;
	align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 0;
}
.section {
	position: relative;
	height: 100%;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	text-align: center;
	flex: 1;
    background-repeat: no-repeat; 
    background-size: cover;
	background-position: center;
    transition: all 0.2s;
}

.cont_desc {
	position: relative;
	display: block;
	text-align: center;
	width: 60%;
	height: auto;
	margin: auto;
    opacity: 0;
	padding-top: 30px;
}

.cont_desc p {
	margin: 0;
	font-size: 30px;
    color: white;
}

.section:hover {
	flex-grow: 1.8;
	transition: flex 0.4s;
}

.section:hover > .cont_desc > a {
	opacity: 1;
	transition-delay: 0.5s;
	transition: opacity 0.8s; 
} 
.section:hover > .cont_desc{
	opacity: 1;
	transition-delay: 0.5s;
	transition: opacity 0.8s; 
}
.section:nth-child(1) {
	background-image: url("catalog/pic27.jpg");
}

.section:nth-child(2) {
	background-image: url("catalog/pic21.jpg");
}

.section:nth-child(3) {
	background-image: url("catalog/pic26.jpg");
}

.section:nth-child(4) {
	background-image: url("catalog/pic15.jpg");
}

.section:nth-child(5) {
	background-image: url("catalog/pic16.jpg");
}

.banner:hover > .section {
    filter: brightness(60%);
}
.banner:hover > .section:hover {
    filter: brightness(100%);
}