header {
    background: white;
}

.search {
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  
}

#pageHeader {
    grid-area: header;
    display: grid;
    grid-template-areas: 
        "logo  contacts ic2 ic3 ic4 ic5 ic1 city";
    grid-template-columns: 2fr 1fr 1fr 50px 50px 50px 40px 80px;
    grid-gap: 5px;
    position: relative;
}

/* Описание вложенных гридов для заголовка */
#icon1 {
    grid-area: ic1;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#city {
    grid-area: city;
    position: absolute;
    top: 50%;
    left: 0%;
    margin-right: -50%;
    transform: translate(0%, -50%)
}
#logotip {
    grid-area: logo;
    position: absolute;
    top: 50%;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#contacts {
    grid-area: contacts;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20px;
    top: 50%;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.num > span {
    margin: 0;
    color: rgb(201, 63, 127);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 25px;
}
#poisk {
    grid-area: ic2;
    display: inline;
    position: absolute;
    top: 50%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#korzina{
    grid-area: ic3;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#izbr {
    grid-area: ic4;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#profile {
    grid-area: ic5;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
  
