#mainNav { 
    grid-area: nav; 
    display: grid;
    grid-template-areas: 
        "catalog new promo magazines novost progloy";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(255, 240, 252);
    padding-left: 5%;
    padding-right: 5%;
}

nav {
    background: rgb(201, 63, 127);
}

a {
    text-decoration: none;
}

/* Описание вложенных гридов для навигации */
.katalog {
    grid-area: catalog;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}
.novinki {
    grid-area: new;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}
.aktsii {
    grid-area: promo;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}
.magazini {
    grid-area: magazines;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}
.novosti {
    grid-area: novost;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}
.programloy {
    grid-area: progloy;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

/* Кнопка выпадающего меню*/
.dropbtn {
    background-color: rgb(201, 63, 127) ;
    color: rgb(254, 236, 236);
    font-family: 'Franklin Gothic Medium', serif;
    font-size: 20px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
}

/* Выпадающее содержимое */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 235, 254);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Ссылки внутри выпадающего списка */
.dropdown-content a {
    float: none;
    color:  rgb(201, 63, 127);
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #ffdaf2;
    color: blueviolet;
}
.dropdown:hover .dropdown-content {
    display: block;
    background-color: rgb(254, 236, 236);
    color: rgb(201, 63, 127);
}