.article {
    grid-area: article;
    padding-bottom: 50px;
    background-color: rgb(255, 241, 241);
}
.grid {
    display: grid;
    grid-template-areas: 
      "profile_logo inform";
    grid-template-columns: 1fr 2fr;
    
}
.left_form {
    grid-area: profile_logo;
    padding-left: 20%;
    align-self: center;
    justify-self: center;
}
.right_info {
    grid-area: inform;
    align-self: center;
    justify-self: center;
}

/* правый грид*/
.photo_name {
    text-align: center;
    max-width: 280px;
    display: inline block;
    margin-left: auto;
    margin-right: auto;
}
.page_name > p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: rgb(159, 45, 98);
    text-align: center;
}
.photo {
    display: block;
    max-width: 300px;
    margin-bottom: 10px;
}
.name > p, .phone > p {
    margin: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.phone > p {
    font-size: 20px;
    color: rgb(87, 87, 87);
}


/* левый грид*/
table {
    table-layout: fixed;
    margin-top: 90px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 246, 246);
    border-collapse: collapse;
    width: 450px;
    height: 300px;
    color: black;
}
table img {
    padding-left: 70%;
}
th, td {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
tr:hover {
    background-color: rgb(194, 152, 165);
    color: antiquewhite;
}
.table_inform {
    display: block;
}
